<nav class="navbar navbar-light bg-custom-1">
  <div class="container-fluid">
    <h1 style="color: white">Angular Application</h1>
    <div class="d-flex">
      <button
        (click)="clickAdduser()"
        type="button"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
        class="btn btn-danger"
      >
        Add user
      </button>
    </div>
  </div>
</nav>
<nav class="navbar navbar-dark">
  <div class="">
    <button (click)="showRole()" type="button" class="btn btn-success mx-2">
      Show Roles
    </button>
    <button (click)="showCustomer()" type="button" class="btn btn-success">
      Show Customers
    </button>
  </div>
</nav>

<table class="table table-bordered border-dark mt-3" id="container">
  <thead>
    <tr>
      <th
        scope="col"
        style="color: black; font-size: large"
        *ngFor="let row of userData[0] | keyvalue: order"
      >
        {{ row.key }}
      </th>

      <th scope="col">Actions</th>
    </tr>
  </thead>

  <tbody>
    <tr style="color: whitesmoke" *ngFor="let row of userData">
      <td *ngFor="let data of row | keyvalue: order">
        {{ data.value }}
      </td>

      <td>
        <button
          (click)="editData(row)"
          type="button"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
          class="btn btn-success"
        >
          Edit
        </button>
        <button (click)="deleteData(row)" class="btn btn-danger mx-2">
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header border-dark">
        <h5 class="modal-title text-light" id="exampleModalLabel">
          User Details
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formValue">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label text-light"
              >id</label
            >
            <input
              type="number"
              formControlName="id"
              class="form-control"
              id="Input"
              aria-describedby="emailHelp"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label text-light"
              >First Name</label
            >
            <input
              type="text"
              formControlName="firstname"
              class="form-control"
              id="Input"
              aria-describedby="emailHelp"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label text-light"
              >Middle Name</label
            >
            <input
              type="text"
              formControlName="middlename"
              class="form-control"
              id="Input"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label text-light"
              >Last Name</label
            >
            <input
              type="text"
              formControlName="lastname"
              class="form-control"
              id="Input"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label text-light"
              >Email</label
            >
            <input
              type="email"
              formControlName="email"
              class="form-control"
              id="Input"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label text-light"
              >Phone Number</label
            >
            <input
              type="text"
              formControlName="phonenumber"
              class="form-control"
              id="Input"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label text-light"
              >Address</label
            >
            <input
              type="text"
              formControlName="address"
              class="form-control"
              id="Input"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label text-light"
              >Role id</label
            >
            <input
              type="number"
              formControlName="roleId"
              class="form-control"
              id="Input"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label text-light"
              >Customer id</label
            >
            <input
              type="number"
              formControlName="customerId"
              class="form-control"
              id="Input"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer border-dark">
        <button
          type="button"
          id="cancel"
          class="btn btn-danger"
          data-bs-dismiss="modal"
        >
          Close
        </button>
        <button
          type="button"
          *ngIf="showAdd"
          (click)="createData()"
          class="btn btn-success"
        >
          Add
        </button>
        <button
          type="button"
          *ngIf="showUpdate"
          (click)="updateData()"
          class="btn btn-success"
        >
          update
        </button>
      </div>
    </div>
  </div>
</div>
